<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уроци по немски за ученици</title>
</head>
<body>
<header style="background-size: cover; width: 1050px; margin: auto;  height: 300px; background-image: url('../untitled15/untitled.jpg')">
    <div style="margin-left: 900px">
        <img style="display: inline-block; width: 50px; height: 50px" src="FBLogo.png">
        <img style="display: inline-block; width: 50px; height: 50px" src="Phoneicon.png">
    </div>
    <div style="display: inline-block; margin-top: 150px; margin-left: 400px;">
        <div style="border-radius: 50%; display: inline-block; width: 150px; height: 150px;  background-color: red; border:10px solid white; " align="center"><p style="color: white">HOME</p><img style="display: inline-block; width: 50px; height: 50px" src="Homeicon.png"></div>
        <div style="border-radius: 50%; display: inline-block; width: 150px; height: 150px;  background-color: blueviolet; border:10px solid white; " align="center"><p style="color: white">ГАЛЕРИЯ</p> <img style="display: inline-block; width: 50px; height: 50px" src="photos_96dp.png"> </div>
        <div style="border-radius: 50%; display: inline-block; width: 150px; height: 150px;  background-color: green; border:10px solid white; " align="center"><p style="color: white">ЛОКАЦИЯ</p> <img style="display: inline-block; width: 50px; height: 50px" src="location.png"></div>

    </div>

</header>

<div style="margin: auto">
    <img style="display: inline-block; width: 900px; height: 400px" src="learning.jpg">
</div>
</body>
</html>